{% extends "server/base.html" %}
{% block title %}home{% endblock %}
{% block content %}

{% if current_user.is_authenticated %}

<div class="d-flex justify-content-around gap-3" style="margin-top: 16px;">
    <!--스트리밍 카드-->
  <div class="card" style="width: 18rem;">
    <img src="{{ url_for('streaming.video') }}" class="card-img-top" alt="video" 
    onerror="this.onerror=null; this.src = '../static/images/smart.jpg';"
    />
    <div class="card-body">
      <h5 class="card-title">Streaming</h5>
      <p class="card-text">Streaming</p>
      <div class="btn_position">
      <a href="http://127.0.0.1:5000/knockx2/live" class="btn btn-dark">보기</a>
    </div>
    </div>
  </div>

{% else %}
<div class="d-flex justify-content-around gap-3" style="margin-top: 16px;">
    <!--스트리밍 카드-->
    <div class="card" style="width: 18rem;">
      <img  src="..\static\images\smart.jpg" class="card-img-top" alt="video" >
      <div class="card-body">
        <h5 class="card-title">Streaming</h5>
        <p class="card-text">Streaming</p>
        <div class="btn_position">
        <a href="{{  url_for('auth.login')  }}" class="btn btn-dark">보기</a>
      </div>
      </div>
    </div>
  </div>
</div>
{% endif %}



{% endblock %}