{% extends "server/base.html" %}
{% block title %}회원 정보{% endblock %}
{% block content %}
<div class="mx-auto dt-auth-main">
  <div class="card dt-auth">
  <header>회원 정보</header>
  <section>
      
      <div class="form-floating">
        <input class="form-control dt-auth-input" type="text"  value="{{ current_user.user_name }}" disabled>
      <label for="floatingName">이름</label>
      </div>

      <div class="form-floating">
        <input class="form-control dt-auth-input" type="text"  value="{{ current_user.email }}" disabled>
          <label for="floatingEmail">이메일</label>
      </div>

      
      <div class="form-floating">
        {% if current_user.phone_number == '' %}
        <input class="form-control dt-auth-input" type="text"  value="전화번호를 입력해주세요." disabled>
        {% else %}
        <input class="form-control dt-auth-input" type="text"  value="{{ current_user.phone_number }}" disabled>
        {% endif %}
        <label for="floatingEmail">전화번호</label>
      </div>

      <div class="form-floating">
        {% if current_user.birth_date is none %}
        <input class="form-control dt-auth-input" type="text"  value="생년월일을 입력해주세요" disabled>
        {% else %}
        <input class="form-control dt-auth-input" type="text"  value="{{ current_user.birth_date }}" disabled>
        {% endif %}
          <label for="floatingBirthDate">생년월일</label>
      </div>
      
      <div class="btn_position">
        <a href="{{ url_for('auth.update', user_id=current_user.id)}}" class="btn btn-md btn-dark dt-auth-btn" tabindex="-1" role="button" aria-disabled="true">회원 정보 수정</a>
      </div>  
      <div class="btn_position">
        <a href="{{ url_for('auth.modify_pw', user_id=current_user.id)}}" class="btn btn-md btn-dark dt-auth-btn" tabindex="-1" role="button" aria-disabled="true">비밀번호 변경</a>
      </div>  
      <div class="btn_position">
        <a href="{{ url_for('auth.register_device', user_id=current_user.id)}}" class="btn btn-md btn-dark dt-auth-btn" tabindex="-1" role="button" aria-disabled="true">기기 등록</a>
      </div>  
{% endblock %}

