{% extends "server/base.html" %}
{% block title%}로그인{% endblock %}
{% block content%}
<div class="mx-auto dt-auth-main">
      <div class="card dt-auth-login {% if get_flashed_messages() %}is-invalid_login{% endif %}">
            <header>로그인</header>
            <section>

<form action="{{ url_for('auth.login') }}"
      method = "post"
      novalidate="novalidate"
>
      {% for message in get_flashed_messages() %}
            <span class="dt-auth-flash">{{  message  }}</span>
      {% endfor %}
      {{ form.csrf_token}}
      

      <div class="form-floating">
            <input type="email" class="form-control dt-auth-input {% if form.email.errors %}is-invalid{% elif form.email.data %}is-valid{% endif %}" 
                   id="floatingEmail" name="email" value="{{ form.email.data or ''}}" placeholder="">
            <label for="floatingEmail">이메일</label>
            {% if form.email.errors %}
                <div class="invalid-feedback">
                    {{ form.email.errors[0] }}
                </div>
            {% endif %}
        </div>

        <div class="form-floating">
            <input type="password" class="form-control dt-auth-input {% if form.password.errors %}is-invalid{% endif %}" 
                   id="floatingPassword" name="password" placeholder="">
            <label for="floatingPassword">비밀번호</label>
            {% if form.password.errors %}
                <div class="invalid-feedback">
                    {{ form.password.errors[0] }}
                </div>
            {% elif form.password.data %}
                <div class="valid-feedback">
                </div>
            {% endif %}
        </div>

      <div class="btn_position">
      {{ form.submit(class="btn btn-md btn-dark btn-block dt-auth-btn") }}
      </div>
</form>
</section>
</div>
</div>
{% endblock %}