{% extends "server/base.html" %}
{% block title%}로그인{% endblock %}
{% block content%}
<div class="mx-auto dt-auth-main">
      <div class="card dt-auth-login">
            <header>로그인</header>
            <section>

<form action="{{ url_for('auth.login') }}"
      method = "post"
      novalidate="novalidate"
>
      {% for message in get_flashed_messages() %}
            <span class="dt-auth-flash">{{  message  }}</span>
      {% endfor %}
      {{ form.csrf_token}}
      
      <div class="form-floating">
            {{ form.email(class="form-control dt-auth-input", placeholder="") }}
            <label for="floatingInput">이메일</label>
            {% for error in form.email.errors%}
            <span style="color:red;">{{ error }}</span>
            {% endfor %}
      </div>
      
      <div class="form-floating">
            {{ form.password(class="form-control dt-auth-input", placeholder="") }}
            <label for="floatingPassword">비밀번호</label>
            {% for error in form.password.errors %}
            <span style="color:red;">{{ error }}</span>
            {% endfor %}
      </div>


      {{ form.submit(class="btn btn-md btn-primary btn-block dt-auth-btn") }}
</form>
</section>
</div>
</div>
{% endblock %}