{% extends "server/base.html" %}
  {% block content %}

  <div class="relative flex h-[600px] bg-gray-100">

    <div class="absolute inset-0 flex items-center justify-end pr-24">
      <div class="w-96 p-8 bg-white rounded-lg shadow-lg">
        <h2 class="text-2xl font-bold mb-6 text-center">비밀번호 변경</h2>
<section>
    <form
    action="{{ url_for('auth.modify_pw', user_id=current_user.id) }}"
    method="POST"
    novalidate="novalidate"
  >
  {% for message in get_flashed_messages() %}
  <span class="dt-auth-flash">{{  message  }}</span>
  {% endfor %}
  {{ form.csrf_token}}

  <div class="form-floating">
    <input type="password" class="form-custom form-control dt-auth-input {% if form.current_password.errors %}is-invalid{% endif %} w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-custom focus:border-custom" 
           id="floatingCurrentPassword" name="current_password" placeholder="">
    <label for="floatingCurrentPassword">현재 비밀번호 <span style="color: red;">*</span></label>
    {% if form.current_password.errors %}
        <div class="invalid-feedback">
            {{ form.current_password.errors[0] }}
        </div>
    {% endif %}
</div>

  <div class="form-floating">
    <input type="password" class="form-custom form-control dt-auth-input {% if form.new_password.errors %}is-invalid{% endif %} w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-custom focus:border-custom" 
           id="floatingNewPassword" name="new_password" placeholder="">
    <label for="floatingNewPassword">새 비밀번호 <span style="color: red;">*</span></label>
    {% if form.new_password.errors %}
        <div class="invalid-feedback">
            {{ form.new_password.errors[0] }}
        </div>
    {% endif %}
</div>

    <button
    type="submit"
    class="w-full bg-[#0D1B2A] text-white py-2 rounded-md hover:bg-sky-700 transition-colors"
    style="margin-top: 10px;"
    >
    변경
  </button>
</form>
</section>
</div>
</div>
</div>
{% endblock %}