{% extends "server/base.html" %} {% block title %}기기 등록{% endblock %} {%
block content %}
<div class="relative flex h-[600px] bg-gray-100">
  <div class="absolute inset-0 flex items-center justify-end pr-24">
    <div class="w-96 p-8 bg-white rounded-lg shadow-lg">
      <h2 class="text-2xl font-bold mb-6 text-center">기기 등록</h2>
      <section>
        <form
          action="{{ url_for('auth.register_device', user_id=current_user.id) }}"
          method="POST"
          novalidate="novalidate"
          class="form-signin"
        >
          {{ form.csrf_token }} {% with messages =
          get_flashed_messages(with_categories=true) %} {% if messages %}
          <div class="register-flash">
            {% for category, message in messages %}
{{ message }}
            {% endfor %}
          </div>
          {% endif %} {% endwith %}


          <div id="deviceContainer">
            {% for device_form in form.devices %}
            <div class="device-entry mb-4 relative">
              {{ device_form.form.camera_id(type="hidden") }}
              <div class="form-floating mb-2">
                <input
                  type="text"
                  class="form-control dt-auth-input {% if device_form.form.device_id.errors %}is-invalid{% elif device_form.form.device_id.data %}is-valid{% endif %} w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-custom focus:border-custom"
                  id="{{ device_form.form.device_id.id }}"
                  name="{{ device_form.form.device_id.name }}"
                  placeholder="일련번호"
                  value="{{ device_form.form.device_id.data or '' }}"
                />
                <label for="{{ device_form.form.device_id.id }}"
                  >일련번호 <span style="color: red">*</span></label
                >
                {% if device_form.form.device_id.errors %}
                <div class="invalid-feedback">
                  {{ device_form.form.device_id.errors[0] }}
                </div>
                {% endif %}
              </div>
              <div class="form-floating mb-2">
                <input
                  type="text"
                  class="form-control dt-auth-input {% if device_form.form.device_name.errors %}is-invalid{% elif device_form.form.device_name.data %}is-valid{% endif %} w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-custom focus:border-custom"
                  id="{{ device_form.form.device_name.id }}"
                  name="{{ device_form.form.device_name.name }}"
                  placeholder="기기 별명"
                  value="{{ device_form.form.device_name.data or '' }}"
                />
                <label for="{{ device_form.form.device_name.id }}"
                  >기기 별명</label
                >
                {% if device_form.form.device_name.errors %}
                <div class="invalid-feedback">
                  {{ device_form.form.device_name.errors[0] }}
                </div>
                {% endif %}
              </div>
              <div class="form-floating ip-container">
                <input
                  type="text"
                  class="form-control dt-auth-input ip-segment {% if device_form.form.ip_address_1.errors %}is-invalid-device{% elif device_form.form.ip_address_1.data %}is-valid-device{% endif %} w-full px-2 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-custom focus:border-custom text-center"
                  maxlength="3"
                  id="{{ device_form.form.ip_address_1.id }}"
                  name="{{ device_form.form.ip_address_1.name }}"
                  placeholder=""
                  value="{{ device_form.form.ip_address_1.data or '' }}"
                />
                <span class="mx-1">.</span>
                <input
                  type="text"
                  class="form-control dt-auth-input ip-segment {% if device_form.form.ip_address_2.errors %}is-invalid-device{% elif device_form.form.ip_address_2.data %}is-valid-device{% endif %} w-full px-2 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-custom focus:border-custom text-center"
                  maxlength="3"
                  id="{{ device_form.form.ip_address_2.id }}"
                  name="{{ device_form.form.ip_address_2.name }}"
                  placeholder=""
                  value="{{ device_form.form.ip_address_2.data or '' }}"
                />
                <span class="mx-1">.</span>
                <input
                  type="text"
                  class="form-control dt-auth-input ip-segment {% if device_form.form.ip_address_3.errors %}is-invalid-device{% elif device_form.form.ip_address_3.data %}is-valid-device{% endif %} w-full px-2 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-custom focus:border-custom text-center"
                  maxlength="3"
                  id="{{ device_form.form.ip_address_3.id }}"
                  name="{{ device_form.form.ip_address_3.name }}"
                  placeholder=""
                  value="{{ device_form.form.ip_address_3.data or '' }}"
                />
                <span class="mx-1">.</span>
                <input
                  type="text"
                  class="form-control dt-auth-input ip-segment {% if device_form.form.ip_address_4.errors %}is-invalid-device{% elif device_form.form.ip_address_4.data %}is-valid-device{% endif %} w-full px-2 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-custom focus:border-custom text-center"
                  maxlength="3"
                  id="{{ device_form.form.ip_address_4.id }}"
                  name="{{ device_form.form.ip_address_4.name }}"
                  placeholder=""
                  value="{{ device_form.form.ip_address_4.data or '' }}"
                />
                <label style="top: 4.4px; left: 1.8px; padding: 3%"
                  >IP <span style="color: red; padding: 0%">*</span></label
                >
                {% if device_form.form.ip_address_1.errors %}
                <div class="invalid-feedback" style="display: block">
                  {{ device_form.form.ip_address_1.errors[0] }}
                </div>
                {% elif device_form.form.ip_address_2.errors %}
                <div class="invalid-feedback" style="display: block">
                  {{ device_form.form.ip_address_2.errors[0] }}
                </div>
                {% elif device_form.form.ip_address_3.errors %}
                <div class="invalid-feedback" style="display: block">
                  {{ device_form.form.ip_address_3.errors[0] }}
                </div>
                {% elif device_form.form.ip_address_4.errors %}
                <div class="invalid-feedback" style="display: block">
                  {{ device_form.form.ip_address_4.errors[0] }}
                </div>
                {% endif %}
              </div>
            </div>
            {% endfor %}
          </div>

          <div class="btn_position flex justify-center">
            {% if device_count <= 1 %}
            <button
              type="button"
              name="delete_device"
              class="btn btn-md btn-dark dt-auth-btn mr-2"
              style="max-height: 40px; min-width: 56px"
              disabled
            >
              삭제
            </button>
            {% else %}
            <button
              type="submit"
              name="delete_device"
              class="btn btn-md btn-dark dt-auth-btn mr-2"
              style="max-height: 40px; min-width: 56px"
            >
              삭제
            </button>
            {% endif %} {% if form.devices|length >= 3 %}
            <button
              type="button"
              name="add_device"
              class="btn btn-md btn-dark dt-auth-btn mr-2"
              style="max-height: 40px; min-width: 56px"
              disabled
            >
              추가
            </button>
            {% else %}
            <button
              type="submit"
              name="add_device"
              class="btn btn-md btn-dark dt-auth-btn mr-2"
              style="max-height: 40px; min-width: 56px"
            >
              추가
            </button>
            {% endif %}

            <button
              type="submit"
              class="dt-auth-btn bg-[#0D1B2A] text-white py-2 rounded-md hover:bg-sky-700 transition-colors"
              style="height: auto; max-height: 40px; width: 120px"
            >
              등록
            </button>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // 일련번호 자동 "-" 추가
    document.querySelectorAll("input[name$='device_id']").forEach((input) => {
      input.addEventListener("input", function (event) {
        let cursorPos = this.selectionStart;
        let value = this.value.replace(/[^a-zA-Z0-9]/g, ""); // 특수문자 제거
        let formattedValue = "";

        if (value.length > 4) {
          formattedValue = value.slice(0, 4) + "-" + value.slice(4, 8);
        } else {
          formattedValue = value;
        }

        let prevLength = this.value.length;
        this.value = formattedValue;

        // '-'가 추가될 때 커서 이동을 조정
        if (prevLength < this.value.length && cursorPos === 5) {
          this.setSelectionRange(cursorPos + 1, cursorPos + 1);
        } else {
          this.setSelectionRange(cursorPos, cursorPos);
        }
      });
    });

    // IP 입력 시 자동 포커스 이동
    document.querySelectorAll(".ip-segment").forEach((input, index, inputs) => {
      input.addEventListener("input", function () {
        if (this.value.length === 3 && index < inputs.length - 1) {
          inputs[index + 1].focus(); // 다음 칸으로 이동
        }
      });

      input.addEventListener("keydown", function (event) {
        if (event.key === "Backspace" && this.value.length === 0 && index > 0) {
          inputs[index - 1].focus(); // 이전 칸으로 이동
        }
      });
    });
  });
</script>

{% endblock %}
