{% extends "server/base.html" %}
{% block title %}회원가입{% endblock %}
{% block content %}
<div class="mx-auto dt-auth-main">
    <div class="card dt-auth-signup">
        <header>회원가입</header>
        <section>
            <form action="{{ url_for('auth.signup', next=request.args.get('next')) }}"
                  method="POST"
                  novalidate="novalidate"
                  class="form-signin">
                {{ form.csrf_token }}
                {% for message in get_flashed_messages() %}
                <div class="dt-auth-flash">{{ message }}</div>
                {% endfor %}

                <div class="form-floating">
                    <input type="text" class="form-control dt-auth-input {% if form.user_name.errors %}is-invalid{% elif form.user_name.data %}is-valid{% endif %}"
                           id="floatingUsername" name="user_name" value="{{ form.user_name.data or ''}}" placeholder="">
                    <label for="floatingUsername">이름</label>
                    {% if form.user_name.errors %}
                        <div class="invalid-feedback">
                            {{ form.user_name.errors[0] }}
                        </div>
                    {% elif form.user_name.data %}
                        <div class="valid-feedback">
                            사용 가능한 이름입니다.
                        </div>
                    {% endif %}
                </div>
                
                <div class="form-floating">
                    <input type="email" class="form-control dt-auth-input {% if form.email.errors %}is-invalid{% elif form.email.data %}is-valid{% endif %}" 
                           id="floatingEmail" name="email" value="{{ form.email.data or ''}}" placeholder="">
                    <label for="floatingEmail">이메일</label>
                    {% if form.email.errors %}
                        <div class="invalid-feedback">
                            {{ form.email.errors[0] }}
                        </div>
                    {% elif form.email.data %}
                        <div class="valid-feedback">
                            사용 가능한 이메일입니다.
                        </div>
                    {% endif %}
                </div>
                
                <div class="form-floating">
                    <input type="password" class="form-control dt-auth-input {% if form.password.errors %}is-invalid{% elif form.password.data %}is-valid{% endif %}" 
                           id="floatingPassword" name="password" placeholder="">
                    <label for="floatingPassword">비밀번호</label>
                    {% if form.password.errors %}
                        <div class="invalid-feedback">
                            {{ form.password.errors[0] }}
                        </div>
                    {% elif form.password.data %}
                        <div class="valid-feedback">
                        </div>
                    {% endif %}
                </div>
                
                <div class="form-floating">
                    <input type="text" class="form-control dt-auth-input {% if form.phone_number.errors %}is-invalid{% elif form.phone_number.data %}is-valid{% endif %}" 
                           id="phone_number" name="phone_number" value="{{ form.phone_number.data or '' }}" placeholder="000-0000-0000">
                    <label for="phone_number">전화번호</label>
                    {% if form.phone_number.errors %}
                        <div class="invalid-feedback">
                            {{ form.phone_number.errors[0] }}
                        </div>
                    {% elif form.phone_number.data %}
                        <div class="valid-feedback">
                            사용 가능한 전화번호입니다.
                        </div>
                    {% endif %}
                </div>
                
                <div class="form-floating">
                    <input type="text" class="form-control dt-auth-input {% if form.birth_date.errors %}is-invalid{% elif form.birth_date.data %}is-valid{% endif %}" 
                           id="birth_date" name="birth_date" value="{{ form.birth_date.data or '' }}" placeholder="YYYY-MM-DD">
                    <label for="birth_date">생년월일</label>
                    {% if form.birth_date.errors %}
                        <div class="invalid-feedback">
                            {{ form.birth_date.errors[0] }}
                        </div>
                    {% elif form.birth_date.data %}
                        <div class="valid-feedback">
                        </div>
                    {% endif %}
                </div>
                

                <div class="btn_position">
                    <button type="submit" class="btn btn-md btn-dark btn-block dt-auth-btn">가입하기</button>
                </div>
            </form>
        </section>
    </div>
</div>

<script>
    function formatPhoneNumber(input) {
        let value = input.value.replace(/\D/g, ''); // 숫자만 남기기
        if (value.length > 3 && value.length <= 7) {
            input.value = value.slice(0, 3) + '-' + value.slice(3);
        } else if (value.length > 7) {
            input.value = value.slice(0, 3) + '-' + value.slice(3, 7) + '-' + value.slice(7, 11);
        } else {
            input.value = value;
        }
    }
    function formatBirthDate(input) {
        let value = input.value.replace(/\D/g, ''); // 숫자만 남기기
        if (value.length > 4 && value.length <= 6) {
            input.value = value.slice(0, 4) + '-' + value.slice(4); // YYYY-MM
        } else if (value.length > 6) {
            input.value = value.slice(0, 4) + '-' + value.slice(4, 6) + '-' + value.slice(6, 8); // YYYY-MM-DD
        } else {
            input.value = value;
        }
    }

    document.getElementById("phone_number").addEventListener("input", function () {
        formatPhoneNumber(this);
    });

    document.getElementById("birth_date").addEventListener("input", function () {
        formatBirthDate(this);
    });
</script>
{% endblock %}
