{% extends "server/base.html" %}
  {% block content %}

  <div class="relative flex h-[600px] bg-gray-100">

    <div class="absolute inset-0 flex items-center justify-end pr-24">
      <div class="w-96 p-8 bg-white rounded-lg shadow-lg">
        <h2 class="text-2xl font-bold mb-6 text-center">1:1 문의</h2>

  <button
    type="submit"
    class="w-full bg-[#0D1B2A] text-white py-2 rounded-md hover:bg-sky-700 transition-colors"
    style="margin-top: 10px;"
    >
    제출
  </button>
</div>
</div>
</div>
{% endblock %}